beautifulsoup4==4.12.3
Flask==3.0.3
Flask-Cors==4.0.1
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
gspread==5.12.4
httplib2==0.22.0
requests==2.32.3
selenium==4.21.0
PyMuPDF==1.21.1
gunicorn==21.2.0